
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
*{
	box-sizing: border-box;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	/* font-family: 'Lato',sans-serif; */
}

body {
	color: #333;
	margin: 0;
	padding: 2em;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
} 
input:focus,
textarea:focus{
	border-color: #e40763;
	outline: none;
}
.form-control{
	padding:0.5rem 0;
}
label{
	display: block;
	margin: 0.5rem 0;
}
